In [98]:
class PrinceMLR:
    def __init__(self):
        self.b=None
        self.m=None

    def fit(self,x_train,y_train):
        x_train = np.insert(x_train,0,1,axis=1) # i have used to just add 1 in front of each row to make caluclation possible 
        betas = np.linalg.inv(np.dot(x_train.T,x_train)).dot(x_train.T).dot(y_train)
        self.b = betas[0] # intercept
        self.m = betas[1:] #mulyiple slopes
        print(f"your Intercept is {self.b} and your slopes are{self.m}")

    def predict(self,x_train):
        pred=np.dot(x_train,self.m)+self.b
        return pred

    def MyR2_score(self,y_test,y_pred):
        L = []
        residual = (y_test-y_pred)
        residual_sq = residual**2
        rss = residual_sq.sum()
        print(rss)
        tss = ((y_test - y_test.mean())**2).sum()
        print(tss)
        r2 = 1 -(rss/tss)
        return f"your r2 score is {r2}"

In [99]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

**I am using the data which is used in my last Multiple_LinearRegrssion Code**

In [100]:
x = pd.read_csv('car_x.csv')

In [116]:
df = pd.read_csv('car_y.csv')

     Selling_Price
0             3.35
1             4.75
2             7.25
3             2.85
4             4.60
..             ...
296           9.50
297           4.00
298           3.35
299          11.50
300           5.30

[301 rows x 1 columns]

In [102]:
x.head()

,Present_Price,Kms_Driven,Owner,Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual,mean
0,5.59,27000,0,12,False,True,False,True,2.862500
1,9.54,43000,0,13,True,False,False,True,3.158333
2,9.85,6900,0,9,False,True,False,True,7.472222
3,4.15,5200,0,15,False,True,False,True,2.512500
4,6.87,42450,0,12,True,False,False,True,4.540000

StandardScaler= x - mean/std

In [103]:
ss= StandardScaler()
x_sclaed = ss.fit_transform(x)

In [104]:
x_train , x_test , y_train , y_test = train_test_split(x_sclaed,y,test_size=0.2,random_state=1)

In [105]:
lr = PrinceMLR()

In [106]:
lr.fit(x_train,y_train)

your Intercept is [4.69531729] and your slopes are[[ 2.69215621]
 [-0.20729746]
 [ 0.09929783]
 [-1.17598968]
 [ 0.49571499]
 [-0.02234284]
 [-0.37628188]
 [-0.59221912]
 [ 1.40181488]]

In [110]:
y_pred_train = lr.predict(x_train)
y_pred_train

array([[ 2.40165136e+00],
       [ 9.84672223e+00],
       [ 5.91580990e+00],
       [-1.10996434e+00],
       [ 1.00397621e+00],
       [-3.53466013e-01],
       [ 4.55200967e-01],
       [ 6.65126480e+00],
       [-1.50732128e-01],
       [ 7.73437206e+00],
       [ 8.33470579e+00],
       [ 7.81999443e+00],
       [ 8.37507310e-01],
       [ 1.27190300e+00],
       [ 1.44584081e+00],
       [ 2.01176837e+00],
       [ 8.28538534e+00],
       [ 9.83369849e+00],
       [ 4.19303802e+00],
       [ 3.72128208e+00],
       [ 1.98359664e+00],
       [ 1.25008506e+01],
       [ 1.12761444e+01],
       [ 1.75101591e+00],
       [ 5.94654277e+00],
       [ 2.03152882e+00],
       [ 1.43266327e+00],
       [ 1.46384861e+00],
       [ 6.19717974e+00],
       [ 4.63051658e+00],
       [ 5.92621777e+00],
       [ 2.60793451e+00],
       [ 2.17526533e+00],
       [ 1.09478070e+01],
       [ 1.06640360e+01],
       [-2.56491780e-01],
       [ 1.13672069e+00],
       [ 4.05557830e-01],
       [ 7.51285195e-01],
       [ 1.67736334e+00],
       [ 8.18797396e+00],
       [ 2.77958735e+00],
       [ 1.80695614e+01],
       [ 3.84067527e+00],
       [-2.46524470e-01],
       [ 3.61719377e-01],
       [ 1.80067473e+00],
       [ 7.63464309e-01],
       [ 1.25487793e+01],
       [ 4.30098032e+00],
       [ 8.07888701e+00],
       [ 5.66486356e+00],
       [-1.65013080e+00],
       [ 4.57107594e+00],
       [ 1.89176181e+00],
       [ 3.44759508e+00],
       [ 7.23945285e+00],
       [ 1.15228188e+00],
       [ 6.12233720e+00],
       [ 8.79606439e-01],
       [ 5.76187115e+00],
       [ 5.61478723e+00],
       [ 4.86754404e-01],
       [ 5.41415736e+00],
       [ 7.24722721e+00],
       [ 1.95533308e+01],
       [ 9.11628662e-02],
       [ 2.95000000e+00],
       [ 6.26561561e+00],
       [ 2.11849523e+01],
       [ 4.28800184e+00],
       [ 4.78768981e+00],
       [ 1.50731722e+01],
       [ 7.72132301e+00],
       [ 5.55950536e-01],
       [ 9.65625782e+00],
       [ 4.90513898e+00],
       [-5.41842865e-01],
       [ 7.18929829e+00],
       [ 9.92441554e+00],
       [ 7.68498300e+00],
       [ 5.49833780e+00],
       [ 2.51303285e+00],
       [ 1.04873892e+01],
       [ 1.74435241e+01],
       [ 1.43235473e-01],
       [ 2.43425857e+00],
       [ 4.02286959e+00],
       [ 1.78894172e+00],
       [ 4.80661470e+00],
       [ 4.33804762e-01],
       [ 1.24488272e+00],
       [ 9.05104736e-01],
       [ 4.68282269e+00],
       [ 3.45327361e+00],
       [ 9.57733213e+00],
       [ 4.88418236e+00],
       [ 5.01803787e+00],
       [ 7.48392616e-01],
       [-1.05457108e+00],
       [ 5.71910705e+00],
       [-2.13223134e+00],
       [ 1.33399010e+00],
       [ 6.66620001e+00],
       [ 6.55469192e+00],
       [ 1.28593318e+00],
       [ 3.52774758e+00],
       [-2.86380843e-01],
       [ 8.75283647e+00],
       [ 5.10706542e+00],
       [ 3.19364069e+00],
       [ 5.38985579e+00],
       [ 9.95291872e-01],
       [ 8.61373373e+00],
       [-2.19885522e+00],
       [ 8.37154061e+00],
       [ 4.34280480e+00],
       [ 1.86139731e+00],
       [ 1.02042307e+01],
       [ 3.99788484e+00],
       [ 1.70466927e+01],
       [-4.33468220e-02],
       [ 8.39823356e+00],
       [ 9.14521329e+00],
       [ 1.94370515e-01],
       [ 5.97454614e+00],
       [-1.21228945e+00],
       [-2.20861623e-01],
       [ 4.81381572e+00],
       [ 9.09311321e-01],
       [ 6.40012424e+00],
       [ 1.60786415e-01],
       [ 4.60233779e+00],
       [ 5.08455145e+00],
       [ 5.76117699e+00],
       [ 1.65645621e+01],
       [ 6.44065779e+00],
       [ 4.28915296e+00],
       [ 8.72350195e+00],
       [ 2.36811104e+00],
       [ 2.36817824e+00],
       [ 4.76943274e+00],
       [ 6.71303949e+00],
       [ 3.70088190e+00],
       [ 6.61780008e+00],
       [ 1.79436777e+00],
       [ 4.64841017e+00],
       [-3.21974210e+00],
       [ 5.71896892e+00],
       [ 6.20867806e+00],
       [ 8.83468883e+00],
       [ 1.34409580e+00],
       [ 4.49304117e+00],
       [ 7.56107038e+00],
       [-5.70860152e-01],
       [ 3.19384367e+00],
       [ 1.52934638e+01],
       [ 6.14310396e+00],
       [ 5.49673132e+00],
       [ 1.90411457e+00],
       [ 4.29478096e+00],
       [ 2.25848352e+00],
       [ 1.62518094e+00],
       [ 5.36066295e+00],
       [-8.43787769e-02],
       [ 1.18041539e+00],
       [ 3.17821496e+00],
       [-7.09757206e-01],
       [ 2.65134327e+00],
       [-2.23287809e+00],
       [ 6.06399393e+00],
       [ 5.15027288e+00],
       [-2.68373419e+00],
       [ 7.80314793e+00],
       [ 6.38617184e+00],
       [ 1.33383877e+00],
       [ 5.56139065e+00],
       [ 4.20772744e+00],
       [-2.28871110e-01],
       [ 5.82085773e+00],
       [ 6.47133013e-01],
       [ 1.31741790e+00],
       [ 1.06428065e+01],
       [ 7.10087873e+00],
       [ 3.02602559e+00],
       [ 3.45167171e+00],
       [ 1.99840570e+00],
       [-1.21352006e+00],
       [ 2.62498123e+00],
       [ 1.96082096e+00],
       [ 6.95561921e+00],
       [ 5.80997761e-01],
       [ 7.56289608e+00],
       [ 7.82034163e+00],
       [ 2.21762250e+00],
       [ 1.56447215e-02],
       [ 4.57503635e+00],
       [ 2.62419566e+00],
       [-2.90637614e+00],
       [ 2.23028590e+01],
       [ 8.33470579e+00],
       [ 2.18077886e+00],
       [ 3.52584852e+00],
       [ 7.00135741e+00],
       [ 5.94237783e+00],
       [ 1.81434572e+00],
       [ 8.97025896e+00],
       [ 6.16596080e+00],
       [ 3.95000231e+00],
       [-2.26590910e-01],
       [ 1.33132027e+00],
       [ 7.31500486e+00],
       [ 4.01939347e+00],
       [ 4.67531924e+00],
       [ 5.89009139e+00],
       [ 5.60448620e+00],
       [ 4.72358325e+00],
       [ 7.21333823e+00],
       [ 1.34805857e+00],
       [ 3.99513452e+01],
       [ 5.36968646e+00],
       [ 4.80608073e+00],
       [ 5.80792737e+00],
       [ 1.79856914e+01],
       [ 1.65768319e+00],
       [ 6.57156201e+00],
       [ 5.67799378e+00],
       [ 7.80421586e+00],
       [ 2.11861838e+00],
       [ 2.12906826e+00],
       [ 1.02239986e+01],
       [ 6.94054323e+00],
       [ 1.84903789e+00],
       [ 5.65882332e-01],
       [ 1.55771728e+00],
       [ 1.86630378e+00],
       [ 3.02744302e+00],
       [ 8.31279903e+00],
       [ 6.95487165e+00],
       [-4.13475150e+00]])

In [111]:
y_pred_test = lr.predict(x_test)

In [109]:
lr.MyR2_score(x_train,y_pred_train)

99677.44041731187
2065.959699575671

'your r2 score is -47.24752411084528'

In [112]:
lr.MyR2_score(y_test,y_pred_test)

Selling_Price    127.598325
dtype: float64
Selling_Price    1323.345102
dtype: float64

'your r2 score is Selling_Price    0.903579\ndtype: float64'

In [115]:
y

     Selling_Price
0             3.35
1             4.75
2             7.25
3             2.85
4             4.60
..             ...
296           9.50
297           4.00
298           3.35
299          11.50
300           5.30

[301 rows x 1 columns]